.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
  font-family: Changa, sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
  position: relative;
}

#form{
  width: 55%;
  position: relative;
  right: 17%;
}

.todo{
  display: flex;
  word-wrap: break-word;
}

.buttons{
  margin-left: auto;
  flex-direction: row;
}

#weather{
position: absolute;
 z-index: 9;
 right: 12%;
 top: 10px;
}


