#card{
    font-family: Changa, sans-serif;
    width: 18rem;
    border-radius: 10px;
    border-style: outset;
    padding: 10px;
    background-color: rgb(225, 165, 97);
    border-color: rgb(225, 165, 97);
    border-width: 2px;
}

#img{
    width: 100%;
    padding: 20px;
}

#title{
    font-size: 27px;
    font-weight: bold;
}

/*rgb(51, 64, 76);*/